<img
  class="banner"
  src="/proxy/cover/{{beatmapset_id}}"
  width="800"
  height="280"
/>
<div class="status {{status}}">{{status}}</div>
<main>
  <div class="stats">
    {{!-- prettier-ignore --}}
    <div>
      <svg viewBox="0 0 24 24"><path fill="white" d="M10,16.5V7.5L16,12M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg>{{#formatNumber}}{{beatmapset.play_count}}{{/formatNumber}}
      <svg viewBox="0 0 24 24"><path fill="white" d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z" /></svg>{{#formatNumber}}{{beatmapset.favourite_count}}{{/formatNumber}}
    </div>
    <div><strong>{{version}}</strong>
      {{!-- prettier-ignore --}}
      <span class="stars"><svg viewBox="0 0 24 24"><path fill="currentColor" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
</svg>{{difficulty_rating}}</span>
    </div>
  </div>
  <div class="title">{{beatmapset.title}}</div>
  <div class="artist">{{beatmapset.artist}}</div>
  <div class="mapper">mapped by <em>{{beatmapset.creator}}</em></div>
  <a class="loading" id="loading">
    <div id="loading-bar" style="width: 0%;"></div>
    <span id="loading-text"></span>
  </a>
</main>